.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.link {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 150px;
}

.link_item {
    width: auto;
    height: 70px;
}

.link_item a {
    display: inline-block;
    border: none;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}

.link_text {
    display: flex;
    justify-content: start;
    width: 400px;
    gap: 30px;
}

.link_text a {
    text-decoration: none;
    font-size: 17px;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.link_text a:hover {
    color: #E0AFA0;
}

.link_button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.svg {
    height: 37px;
    width: auto;
    object-fit: contain;
    display: block;
}

.search_cont {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
}

.search {
    padding: 6px 14px;
    border: 1px solid white;
    border-radius: 9999px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    outline: none;
    padding-left: 30px;
    box-sizing: border-box;
    width: 170px;
}

.search_ico {
    position: relative;
    height: 18px;
    right: 162px;
}

.username {
    font-size: 17px;
    color: #E0AFA0;
}

.logout {
    background-color: transparent;
    color: white;
    border: 1px solid #FFFFFF;
    font-size: 15px;
    padding: 7px 16px;
    border-radius: 9999px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.logout:hover {
    color: #E0AFA0;
    border-color: #E0AFA0;
}

@media (min-width: 1200px) and (max-width: 1300px) {

    .link {
        gap: 80px;
    }

}

@media (min-width: 1101px) and (max-width: 1199px) {

    .link {
        gap: 80px;
    }

    .link_text {
        width: auto;
    }

}

@media (min-width: 1000px) and (max-width: 1100px) {

    .link {
        gap: 60px;
    }

    .link_item {
        width: auto;
        height: 60px;
    }

    .link_text {
        width: auto;
    }

    .link_text a {
        font-size: 16px;
    }

    .search_cont {
        width: auto;
    }

    .svg {
        height: 34px;
    }

    .logout {
        font-size: 14px;
        padding: 7px 14px;
    }

    .username {
        font-size: 16px;
    }

}

@media (min-width: 901px) and (max-width: 999px) {

    .link {
        gap: 40px;
    }

    .link_item {
        width: auto;
        height: 60px;
    }

    .link_text {
        width: auto;
        gap: 25px;
    }

    .link_text a {
        font-size: 16px;
    }

    .svg {
        height: 34px;
    }

    .logout {
        font-size: 14px;
        padding: 7px 14px;
    }

    .username {
        font-size: 16px;
    }

    .search_cont {
        width: auto;
    }
    .search {
        width: 150px;
        font-size: 13px;
    }

    .search_ico {
        right: 142px;
        height: 16px;
    }

}

@media (min-width: 768px) and (max-width: 900px) {

    .link {
        gap: 15px;
    }

    .link_item {
        width: auto;
        height: 55px;
    }

    .link_text {
        width: auto;
        gap: 15px;
    }

    .link_text a {
        font-size: 15px;
    }

    .search_cont {
        width: auto;

    }

    .svg {
        height: 30px;
    }

    .search {
        padding: 5px 10px 5px 30px;
        width: 140px;
        font-size: 12px;
    }

    .search_ico {
        right: 132px;
        height: 15px;
    }

    .logout {
        font-size: 13px;
        padding: 6px 12px;
    }

    .username {
        font-size: 15px;
    }

}

@media (min-width: 650px) and (max-width: 767px) {

    .link {
        gap: 0px;
    }

    .link_item {
        width: auto;
        height: 55px;
    }

    .link_button {
        margin-left: 20px;
    }

    .search_cont {
        width: auto;

    }

    .svg {
        height: 30px;
    }

    .search {
        padding: 5px 10px 5px 30px;
        width: 130px;
        font-size: 12px;
    }

    .search_ico {
        right: 122px;
        height: 15px;
    }

    .logout {
        font-size: 13px;
        padding: 6px 12px;
    }

    .username {
        font-size: 14px;
    }

    .link_text {
        display: none;
    }

    .burger_wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 55px;
        margin-left: 20px;
    }

    .burger {
        display: flex;
        color: white;
        cursor: pointer;
    }

    .arrow_icon {
        height: 20px;
        width: 20px;
        transition: transform 0.3s ease;
    }

    .arrow_open {
        transform: rotate(-90deg);
    }

    .mobile_menu {
        position: relative;
        align-items: flex-start;
        top: 30px;
        left: 10px;
        background-color: #1a1a1a;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 10px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0s 0.3s;
    }

    .mobile_menu.open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease;
    }

    .mobile_menu a {
        display: inline;
        color: white;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease;
        width: auto;
    }

    .mobile_menu a:hover {
        color: #E0AFA0;
    }
}

@media (min-width: 450px) and (max-width: 649px) {

    .link {
        gap: 0px;
    }

    .link_item {
        width: auto;
        height: 45px;
    }

    .link_button {
        margin-left: 0px;
    }

    .search {
        padding: 5px 10px 5px 20px;
        width: 110px;
        font-size: 10px;
    }

    .search_cont {
        width: auto;

    }

    .search_ico {
        right: 104px;
        height: 13px;
    }

    .logout {
        font-size: 12px;
        padding: 5px 10px;
    }

    .username {
        font-size: 13px;
    }

    .svg {
        height: 27px;
    }

    .link_text {
        display: none;
    }

    .burger_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40px;
        height: 15px;
    }

    .burger {
        display: flex;
        color: white;
        cursor: pointer;
    }

    .arrow_icon {
        height: 15px;
        width: 15px;
    }

    .mobile_menu {
        position: relative;
        align-items: flex-start;
        top: 15px;
        left: 10px;
        background-color: #1a1a1a;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 10px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0s 0.3s;
    }

    .mobile_menu.open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease;
    }

    .mobile_menu a {
        display: inline;
        color: white;
        text-decoration: none;
        font-size: 13px;
        transition: color 0.3s ease;
        width: auto;
    }

    .mobile_menu a:hover {
        color: #E0AFA0;
    }
}

@media (min-width: 350px) and (max-width: 449px) {

    .header {
        margin: 10px 0;
    }

    .link {
        gap: 0px;
    }

    .link_item {
        width: auto;
        height: 45px;
    }

    .link_button {
        margin-left: 30px;
    }

    .search_cont {
        display: none;
    }

    .logout {
        font-size: 11px;
        padding: 4px 8px;
    }

    .username {
        font-size: 12px;
    }

    .svg {
        height: 24px;
    }

    .link_text {
        display: none;
    }

    .burger_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40px;
        height: 15px;
    }

    .burger {
        display: flex;
        color: white;
        cursor: pointer;
    }

    .arrow_icon {
        height: 15px;
        width: 15px;
    }

    .mobile_menu {
        position: relative;
        align-items: flex-start;
        top: 15px;
        left: 10px;
        background-color: #1a1a1a;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 10px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0s 0.3s;
    }

    .mobile_menu.open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease;
    }

    .mobile_menu a {
        display: inline;
        color: white;
        text-decoration: none;
        font-size: 12px;
        transition: color 0.3s ease;
        width: auto;
    }

    .mobile_menu a:hover {
        color: #E0AFA0;
    }
}