.card {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 200px;
}

.image {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}

.md {
    height: 200px;
}

.lg {
    height: 250px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.pic_minus_but
{
    width:35px;
    border:2px solid #b8b8b8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pic_count_input
{
    width: 60px;
    border: 2px solid #b8b8b8;
    text-align: center;
    border-right: none;
    border-left: none;
}

.pic_plus_but
{
    width:35px;
    border:2px solid #b8b8b8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add_to_cart_but
{
    width: 50px;
    margin-left: 5px;
    border: 1px solid ;
    border-radius: 5px;
    background-color:rgb(32, 161, 60);
    color: white;
    text-align: center;
}

.add_to_cart_but svg
{
    transform: scale(80%);
}

.title,
.pic_au, .how_many {
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
}

.content a {
    display: inline-block;
    width: fit-content;
    color: #ffffff;
    transition: color 0.3s ease;
}

.content a:hover {
    color: #E0AFA0;
}

.priceBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    color: #ffffff;
    font-size: 17px;
}

.oldPrice {
    text-decoration: line-through;
    color: #999;
    font-size: 17px;
}

.discount {
    background-color: rgba(255, 51, 51, 0.15);
    color: #FF3333;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 949px) {

    .card {
        width: 150px;
    }

    .content {
        gap: 8px;
    }

    .md {
        height: 150px;
    }

    .lg {
        height: 200px;
    }

    .pic_au {
        font-size: 13px;
    }

    .title {
        font-size: 13px;
    }

    .priceBlock {
        gap: 6px;
    }

    .price {
        font-size: 15px;
    }

    .oldPrice {
        font-size: 15px;
    }

    .discount {
        font-size: 10px;
        padding: 3px 7px;
    }
}

@media (min-width: 350px) and (max-width: 767px) {

    .card {
        width: 150px;
    }

    .content {
        gap: 8px;
    }

    .md {
        height: 150px;
    }

    .lg {
        height: 200px;
    }

    .pic_au {
        font-size: 12px;
    }

    .title {
        font-size: 12px;
    }

    .priceBlock {
        gap: 10px;
    }

    .price {
        font-size: 14px;
    }

    .oldPrice {
        font-size: 14px;
    }

    .discount {
        font-size: 9px;
        padding: 3px 6px;
    }
}